<%-include('header.ejs')-%>
    <h2 class="post-title <%=theme%>_color">My Projects</h2>
    <p class="<%=theme%>_color">Parshi :: 3 min read</p>
    <p>Here are some projects which I made :)</p>
    <%for(let i=0; i<projectDetails.length;i++){%>
        <div class="project">
                <h2 class="<%=theme%>_color">
                    <%=projectDetails[i].name%>
                </h2>
            <p>
                <%=projectDetails[i].description%>
            </p>
            <a href="<%=projectDetails[i].linkProject%>" target="_blank" class="btn btn-primary"> <button class="buttons <%=theme%>_Bcolor">View Project</button></a>
             <a href="<%=projectDetails[i].linkFiles%>" target="_blank" class="btn btn-primary"> <button class="buttons <%=theme%>_Bcolor">View Project Files </button></a>
        </div>
        <%}%>
            <%-include('footer.ejs')-%>