<%-include('header.ejs')-%>
    <h2 class="post-title <%=theme%>_color">My Projects</h2>
    <p class="<%=theme%>_color">Parshi :: 2 min read</p>
    <p>Here are some projects which i made :)</p>
    <%for(let i=0; i<projectDetails.length;i++){%>
        <div class="project">
            <a href="<%=projectDetails[i].linkProject%>">
                <h2 class="<%=theme%>_color">
                    <%=projectDetails[i].name%>
                </h2>
            </a>
            <p>
                <%=projectDetails[i].description%>
            </p>
            <a href="<%=projectDetails[i].linkFiles%>" target="_blank" class="btn btn-primary">View Project Files</a>
        </div>
        <%}%>
            <%-include('footer.ejs')-%>